# # NASA Mars News via requests to scape

In [8]:
# Dependencies 
from bs4 import BeautifulSoup as bs
import requests

In [ ]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)

In [ ]:
soup = bs(response.text,"html.parser")
#print(soup.prettify())

In [ ]:
#collect the latest News Title and Paragraph Text
news=soup.find_all("div", class_="content_title")
news_title = news[0].text.strip()
news_title

In [ ]:
news

In [ ]:
soup.find("div", class_="article_teaser_body")

In [ ]:
soup.find("div", class_="list-text")

# JPL Mars Space Images - Featured Image with splinter

In [ ]:
from splinter import Browser

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [ ]:
html = browser.html
image = bs(html, "html.parser")

In [ ]:
relative_image_path = image.find_all('img')[3]["src"]
featured_image_url = url + relative_image_path
featured_image_url

In [ ]:
browser.quit()

# Mars Weather  @twitter account

In [ ]:
path = "https://twitter.com/marswxreport?lang=en")
browser.visit(path)
html = browser.html
image = bs(html, "html.parser")
weather_soup =

# Mars Facts using pandas for table

In [1]:
import pandas as pd
path = "https://space-facts.com/mars/"
table = pd.read_html(path)
print(type(table))
print(table)

<class 'list'>
[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [2]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [4]:
fact = df.rename(columns={0:"Description",1:"Value"})
fact

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
fact_table= fact.set_index("Description")
fact_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

# Mars Hemispheres

In [33]:
h_url ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [39]:
r=requests.get(h_url)
s=bs(r.text,"html.parser")
titles=s.find_all("div", class_="description")
titles

[<div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div>]

In [41]:
titles[0].find("h3").text

'Cerberus Hemisphere Enhanced'

In [38]:
h1 ="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"
h2="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"
h3="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"
h4="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]