#  NASA Mars News scraping

In [1]:
# Dependencies 
from bs4 import BeautifulSoup as bs
import requests

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)

In [3]:
soup = bs(response.text,"html.parser")
#print(soup.prettify())

In [4]:
#collect the latest News Title and Paragraph Text
news=soup.find_all("div", class_="content_title")
news_title = news[0].text.strip()
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [5]:
news_p = soup.find_all("div", class_="rollover_description_inner")[0].text.strip()
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

# JPL Mars Space Images - Featured Image with splinter

In [9]:
from splinter import Browser

In [10]:
#from splinter.browswer import Browser()

In [11]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
html = browser.html
image = bs(html, "html.parser")

In [16]:
relative_image_path = image.find_all('img')[3]["src"]
featured_image_url = url + relative_image_path
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA23518-640x350.jpg'

In [17]:
browser.quit()

# Mars Weather  @twitter account

In [18]:
path = "https://twitter.com/marswxreport?lang=en"
weather = requests.get(path)
weather_soup=bs(weather.text,"html.parser")

In [19]:
weather_info = weather_soup.find_all("div",class_="js-tweet-text-container")
mars_weather = weather_info[0].find("p").text
mars_weather

'InSight sol 374 (2019-12-15) low -97.3ºC (-143.1ºF) high -21.2ºC (-6.1ºF)\nwinds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.0 m/s (49.1 mph)\npressure at 6.50 hPapic.twitter.com/CPAP5esipU'

# Mars Facts using pandas for table

In [20]:
import pandas as pd
path = "https://space-facts.com/mars/"
table = pd.read_html(path)
print(type(table))
print(table)

<class 'list'>
[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [21]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
fact = df.rename(columns={0:"Description",1:"Value"})
fact

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
fact_table= fact.set_index("Description")
fact_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [54]:
fact_table.to_html("Fact_table.html")

# Mars Hemispheres

In [30]:
h="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
r=requests.get(h)
s=bs(r.text,"html.parser")
titles=s.find_all("div", class_="description")
titles

[<div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div>]

In [43]:
for i in range(len(titles)):
    print(titles[i].find("h3").text)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [ ]:
titles[0].find("h3").text

In [58]:
h_image=s.find_all("img", class_="thumb")
h_image
for x in range(len(h_image)):
    print([h_image[x]["src"]])

['/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png']
['/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png']
['/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png']
['/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']

In [60]:
h1=h_mainpage + h_image[0]["src"]
h1

'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'

In [62]:
h1 ="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"
h2="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"
h3="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"
h4="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"

In [63]:
hemisphere_image_urls = [
    {"title": titles[0].find("h3").text, "img_url": h1},
    {"title": titles[1].find("h3").text, "img_url": h2},
    {"title": titles[2].find("h3").text, "img_url": h3},
    {"title": titles[3].find("h3").text, "img_url": h4},
]

In [64]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [65]:
df = pd.DataFrame(hemisphere_image_urls)

In [66]:
df

,title,img_url
0,Cerberus Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
1,Schiaparelli Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
2,Syrtis Major Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...
3,Valles Marineris Hemisphere Enhanced,https://astropedia.astrogeology.usgs.gov/downl...