#  NASA Mars News scraping with BeautifulSoup

In [1]:
# Dependencies 
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

In [ ]:
#path to browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# news beautifulsoup title/paragraph

In [34]:
browser.visit(news_url)
html=browser.html
news_s=bs(html,"html.parser")
news=news_s.find_all("div", class_="content_title")

news_title = news[0].text.strip()
news_title

"NASA's Mars 2020 Rover Completes Its First Drive"

In [39]:
news_p = news_s.find_all("div", class_="rollover_description_inner")[0].text.strip()
news_p

'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.'

In [ ]:
browser.quit()

# JPL Mars Space Images - Featured Image with splinter

In [43]:
feature_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(feature_url)
time.sleep(4)
browser.find_by_css("a#full_image.button.fancybox").click()
featured_image_url=browser.find_by_css("img.fancybox-image")["src"]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA11777_ip.jpg'

In [8]:
browser.quit()

# Mars Weather  @twitter account BS

In [35]:
path = "https://twitter.com/marswxreport?lang=en"
weather = requests.get(path)
weather_soup=bs(weather.text,"html.parser")

In [36]:
weather_info = weather_soup.find_all("div",class_="js-tweet-text-container")
#weather_info

In [37]:
mars_weather = weather_info[0].find("p").text
mars_weather

'InSight sol 376 (2019-12-17) low -98.2ºC (-144.7ºF) high -19.3ºC (-2.7ºF)\nwinds from the SSE at 5.8 m/s (12.9 mph) gusting to 20.8 m/s (46.5 mph)\npressure at 6.50 hPa'

# Mars Facts using pandas for table

In [12]:
import pandas as pd
path = "https://space-facts.com/mars/"
table = pd.read_html(path)
print(type(table))
print(table)

<class 'list'>
[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [13]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
fact = df.rename(columns={0:"Description",1:"Value"})
fact

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
fact_table= fact.set_index("Description")
fact_table

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [38]:
fact_table.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [17]:
h="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
r=requests.get(h)
s=bs(r.text,"html.parser")
titles=s.find_all("div", class_="description")
titles

[<div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div>,
 <div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div>]

In [18]:
t_list=[]
for i in range(len(titles)):
    t_list.append(titles[i].find("h3").text)
t_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [19]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [20]:
link_list=[]
for x in range(len(browser.find_by_css("a.product-item h3"))):
    browser.find_by_css("a.product-item h3")[x].click()
    link_list.append(browser.find_by_css("img.wide-image")["src"])
    browser.back()
link_list
browser.quit()

In [21]:
hemisphere_image_urls = [
    {"title": t_list[0], "img_url": link_list[0]},
    {"title": t_list[1], "img_url": link_list[1]},
    {"title": t_list[2], "img_url": link_list[2]},
    {"title": t_list[3], "img_url": link_list[3]},
]

In [22]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [23]:
df = pd.DataFrame(hemisphere_image_urls)

In [24]:
df

,title,img_url
0,Cerberus Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/cfa...
1,Schiaparelli Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/3cd...
2,Syrtis Major Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/ae2...
3,Valles Marineris Hemisphere Enhanced,https://astrogeology.usgs.gov/cache/images/7cf...