#  NASA Mars News scraping with BeautifulSoup

In [ ]:
# Dependencies 
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time

In [ ]:
#path to browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# news beautifulsoup title/paragraph

In [ ]:
news_url="https://mars.nasa.gov/news/"
browser.visit(news_url)
html=browser.html
news_s=bs(html,"html.parser")
news=news_s.find_all("div", class_="content_title")

news_title = news[0].text.strip()
news_title

In [ ]:
news_p = news_s.find_all("div", class_="rollover_description_inner")[0].text.strip()
news_p

# JPL Mars Space Images - Featured Image with splinter

In [ ]:
feature_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(feature_url)
time.sleep(4)
browser.find_by_css("a#full_image.button.fancybox").click()
featured_image_url=browser.find_by_css("img.fancybox-image")["src"]
featured_image_url

# Mars Weather  @twitter account BS

In [ ]:
path = "https://twitter.com/marswxreport?lang=en"
weather = requests.get(path)
weather_soup=bs(weather.text,"html.parser")

In [ ]:
weather_info = weather_soup.find_all("div",class_="js-tweet-text-container")
#weather_info

In [ ]:
mars_weather = weather_info[0].find("p").text
mars_weather

# Mars Facts using pandas for table

In [1]:
import pandas as pd
path = "https://space-facts.com/mars/"
table = pd.read_html(path)
print(type(table))
print(table)

<class 'list'>
[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [2]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [3]:
df.columns = ["Description","Value"]

In [4]:
df.set_index('Description', inplace=True)
df.head()

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [6]:
fact_table=df.to_html()
fact_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [ ]:
h="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
r=requests.get(h)
s=bs(r.text,"html.parser")
titles=s.find_all("div", class_="description")
titles

In [ ]:
t_list=[]
for i in range(len(titles)):
    t_list.append(titles[i].find("h3").text)
t_list

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [ ]:
link_list=[]
for x in range(len(browser.find_by_css("a.product-item h3"))):
    browser.find_by_css("a.product-item h3")[x].click()
    link_list.append(browser.find_by_css("img.wide-image")["src"])
    browser.back()
link_list
browser.quit()

In [ ]:
hemisphere_image_urls = [
    {"title": t_list[0], "img_url": link_list[0]},
    {"title": t_list[1], "img_url": link_list[1]},
    {"title": t_list[2], "img_url": link_list[2]},
    {"title": t_list[3], "img_url": link_list[3]},
]

In [ ]:
pd.DataFrame(hemisphere_image_urls)

In [ ]:
 mars_data = {
        "news_title":news_title,
        "news_p": news_p,      
        "featured_image":featured_image_url,
        "mars_weather":mars_weather,
        "table":fact_table,
        "hemisphere_image":hemisphere_image_urls}

In [ ]:
mars_data

In [ ]:
mars_data['news_title']

In [ ]:
mars_data['hemisphere_image'][0]['title']

In [ ]:
mars_data['hemisphere_image'][0]['img_url']